<footer role="contentinfo" id="footer" class="ic-Login-footer">

  <div id="footer-links" class="ic-Login-footer__links">
    <a href="/on_guard/sign_up">Sign Up</a> | <a href="http://on-guard.org">On Guard Security Training</a>
  </div>

</footer>
