@media (min-width: 768px) {
  .HalfPayment {
    width: 570px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.ErrorAlert {
  margin: 20px;
  padding: 20px;
  background-color: #FFDDBB;
}

.SuccessAlert {
  margin: 20px;
  padding: 20px;
  background-color: #DDFFDD;
}

li.right-nav-item {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.security-course {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5;
}

img.centered {
  display:block;
  margin:auto;
}
