@media (min-width: 768px) {
  .HalfPayment {
    width: 570px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.ErrorAlert {
  margin: 20px;
  padding: 20px;
  background-color: #FFDDBB;
}

.SuccessAlert {
  margin: 20px;
  padding: 20px;
  background-color: #DDFFDD;
}

